<!DOCTYPE HTML>
<html ng-app>
<head>
	<title>Group Manager</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="jquery-1.9.1.js"></script>
	<script type="text/javascript" src="jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script type="text/javascript" src="jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="name.js"></script>
</head>
<body>
	<div id="left">
		<div class="inner" ng-controller="NameCtrl">
			<form ng-submit="addName()">
				<input type="text" ng-model="NameText"  size="30">
				<input type="submit" value="Add">
			</form>

			<br>
			
			<span class="sort">
				<div ng-repeat="people in names">
					<p ng-hide="editing" >{{people.name}} 
						<a href="#" ng-click="removeName($index)"><span class="del">X</span></a>
						<a href="#" ng-click="editing = true"><span class="edit">E</span></a>
					</p>
					<form ng-show="editing" ng-submit="editing = false">
						<label>Name:</label>
						<input type="text" ng-model="people.name" ng-required>
						<input type="submit" value="Save">
					</form>
				</div>
			</span>
		</div>
	</div>

	<div id="right">
		<div class="inner">
			<div class="group-container">
				<h1>Group 1</h1><a href="#"><span class="del">X</span></a>
				<span class="sort"></span>
			</div>

			<div id="add">+</div>
		</div>
	</div>

	<script type="text/javascript">
	$("#add").click(function() {
		var $i = $(".inner > div").length;
		var $x = $('<div class="group-container"></div>');
		var $y = $('<span class="sort"></span>');
		var $z = $('<h1>Group ' + $i + '</h1><a href="#"><span class="del">X</span></a>');
		$x.insertBefore(this);
		$y.sortable({connectWith: '.sort'}).prependTo($x);
		$z.prependTo($x);
	});
	
	$("body").delegate(".group-del", "click", function() {
		$(this).parent().find("p").prependTo("#left > .inner > .sort");
		$(this).parent().remove();
	});

	$(".sort").sortable({connectWith: ".sort"});
	</script>
</body>
</html>

